In [2]:
df = read.csv('data4_p2_aa_chi.csv')
c1 = as.vector(df['count_aa']$count_aa)
c2 = as.vector(df['count_naa']$count_naa)
chisq.test(c1,p=c2, rescale.p = T)

	Chi-squared test for given probabilities

data:  c1
X-squared = 480.02, df = 14, p-value < 2.2e-16

In [3]:
c1

 [1] 23857  4354   218  1842   142   819  1395    88    48 29498 28347  5341
[13]   551   152   193

In [4]:
c2

 [1] 45736  7388   448  3269   223  1785  2224   175    61 48173 52104  9401
[13]  1212   262   356

In [6]:
summary(c1/c2)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 0.4546  0.5122  0.5635  0.5650  0.6008  0.7869

In [8]:
df = read.csv('data4_p3_aa_chi.csv')
c1 = as.vector(df['count_aa']$count_aa)
c2 = as.vector(df['count_naa']$count_naa)
chisq.test(c1,p=c2, rescale.p = T)

	Chi-squared test for given probabilities

data:  c1
X-squared = 554.69, df = 15, p-value < 2.2e-16

In [9]:
c1

 [1] 21537  4903   318    24   498   191    66    48 29003 33900  2939   512
[13]    68  1124  1554   117

In [10]:
df = read.csv('data4_p2_gh_chi.csv')
c1 = as.vector(df['count_gh']$count_gh)
c2 = as.vector(df['count_ngh']$count_ngh)
chisq.test(c1,p=c2, rescale.p = T)

	Chi-squared test for given probabilities

data:  c1
X-squared = 96.105, df = 4, p-value < 2.2e-16

In [11]:
c1

[1] 442  39 323 345 131

In [12]:
c2

[1] 69151 11703 77348 80106 14611

In [20]:
chisq.test(as.table(rbind(c1[c(1,3,4)],c2[c(1,3,4)])))

	Pearson's Chi-squared test

data:  as.table(rbind(c1[c(1, 3, 4)], c2[c(1, 3, 4)]))
X-squared = 45.192, df = 2, p-value = 1.537e-10

In [112]:
df = read.csv('data4_p3_gh_chi.csv')
c1 = as.vector(df['count_gh']$count_gh)
c2 = as.vector(df['count_ngh']$count_ngh)
chisq.test(c1,p=c2, rescale.p = T)

	Chi-squared test for given probabilities

data:  c1
X-squared = 101.24, df = 4, p-value < 2.2e-16

In [113]:
# chisq.test(c(10, 10, 10, 30), p = c(1, 11, 11, 1), rescale.p = TRUE)

In [114]:
df = read.csv('data4_aa_t.csv')
c1 = as.vector(df['peraa']$peraa)
c2 = as.vector(df['pernaa']$pernaa)
print(t.test(c1,c2))
print(wilcox.test(c1,c2))

	Welch Two Sample t-test

data:  c1 and c2
t = -1.1107, df = 34.224, p-value = 0.2744
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -4.668173  1.368173
sample estimates:
mean of x mean of y
    27.00     28.65

Warning message in wilcox.test.default(c1, c2):
"cannot compute exact p-value with ties"

	Wilcoxon rank sum test with continuity correction

data:  c1 and c2
W = 154, p-value = 0.2163
alternative hypothesis: true location shift is not equal to 0

In [115]:
df = read.csv('data4_gh_t.csv')
c1 = as.vector(df['pergh']$pergh)
c2 = as.vector(df['perngh']$perngh)
print(t.test(c1,c2))
print(wilcox.test(c1,c2))

	Welch Two Sample t-test

data:  c1 and c2
t = 6.229, df = 35.824, p-value = 3.509e-07
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
  5.765728 11.334272
sample estimates:
mean of x mean of y
    35.25     26.70

Warning message in wilcox.test.default(c1, c2):
"cannot compute exact p-value with ties"

	Wilcoxon rank sum test with continuity correction

data:  c1 and c2
W = 367.5, p-value = 5.985e-06
alternative hypothesis: true location shift is not equal to 0

In [195]:
df = read.csv('data4_test_t.csv')
c1 = as.vector(df['pergh']$pergh)
c2 = as.vector(df['perngh']$perngh)
print(t.test(c1,c2))
print(wilcox.test(c1,c2))

	Welch Two Sample t-test

data:  c1 and c2
t = 0.8541, df = 37.885, p-value = 0.3984
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.507477  3.707477
sample estimates:
mean of x mean of y
    27.25     26.15

Warning message in wilcox.test.default(c1, c2):
"cannot compute exact p-value with ties"

	Wilcoxon rank sum test with continuity correction

data:  c1 and c2
W = 231, p-value = 0.4075
alternative hypothesis: true location shift is not equal to 0