In [46]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

In [69]:
data_file = 'Output1GHAAFinal.csv'
df = pd.read_csv(data_file, low_memory=False)

In [70]:
df.head()

,table1_table1_table1_table1_CreationTime,table1_table1_table1_table1_Year,table1_table1_table1_table1_Month,table1_table1_table1_table1_table2_id,table1_table1_table1_table1_table2_original_id,table1_table1_table1_table1_table2_post_id,table1_table1_table1_table1_table2_pred_post_block_version_id,table1_table1_table1_table1_table2_root_post_block_version_id,table1_table1_table1_table1_table2_length,table1_table1_table1_table1_table2_line_count,...,table1_table1_table1_table1_table2_python3_result,table1_table1_table1_table1_table2_execution_time_p2,table1_table1_table1_table1_table2_execution_time_p3,table1_table1_table1_table1_table2_status_code_p2,table1_table1_table1_table1_table2_status_code_p3,table1_table1_table1_table1_table2_last_update,table1_table1_table1_table2_Exist,table1_table1_table2_ParentId,table1_table2_AcceptedAnswerId,table2_AA_Exist
0,2008-9,2008,9,567646,106498761,39755,NaN,106498761,43,3,...,NaN,0.080961,0.042003,0,0,2019-02-04 02:03:21.14278 UTC,NaN,35805,35823.0,NaN
1,2008-9,2008,9,567768,107571562,135009,NaN,107571562,703,19,...,NaN,0.018042,0.033835,0,0,2019-02-04 02:19:10.013882 UTC,NaN,134834,NaN,NaN
2,2008-9,2008,9,567767,107570842,134954,NaN,107570842,35,1,...,NaN,0.023286,0.045689,0,0,2019-02-04 00:17:56.86758 UTC,NaN,134834,NaN,NaN
3,2008-9,2008,9,567781,107571864,135050,NaN,107571864,27,2,...,NaN,0.024154,0.032178,0,0,2019-02-04 00:17:57.489255 UTC,NaN,135035,135051.0,NaN
4,2008-9,2008,9,567720,107337922,114289,NaN,107337922,60,3,...,NaN,0.022017,0.033607,0,0,2019-02-04 00:17:56.233671 UTC,1.0,114214,114267.0,NaN

In [71]:
s2 = 'table1_table1_table1_table1_table2_status_code_p2'
s3 = 'table1_table1_table1_table1_table2_status_code_p3'
e = 'exec'
e2 = 'exec2'
e3 = 'exec3'

df.loc[:,'table2_AA_Exist'] = ~pd.isnull(df.loc[:,'table2_AA_Exist'])
df.loc[:,'table1_table1_table1_table2_Exist'] = ~pd.isnull(df.loc[:,'table1_table1_table1_table2_Exist'])
df[e2] = (df.loc[:,s2] == 0)
df[e3] = (df.loc[:,s3] == 0)
df[e] =  df[e2] | df[e3]

idxs = df.loc[:,'table2_AA_Exist']
df_aa = df.loc[idxs,:]
df_naa = df.loc[~idxs,:]

idxs = df.loc[:,'table1_table1_table1_table2_Exist']
df_gh = df.loc[idxs,:]
df_ngh = df.loc[~idxs,:]

In [82]:
for col in [e,e2,e3]:
    print('Col:', col)
    print("Accepted Answer: \t{:4.2f}%".format(sum(df_aa.loc[:,col]) / df_aa.shape[0] * 100))
    print("Non-Accepted Answer: \t{:4.2f}%".format(sum(df_naa.loc[:,col]) / df_naa.shape[0] * 100))
    print("GH: \t\t\t{:4.2f}%".format(sum(df_gh.loc[:,col]) / df_gh.shape[0] * 100))
    print("non-GH: \t\t{:4.2f}%".format(sum(df_ngh.loc[:,col]) / df_ngh.shape[0] * 100))
    print()

Col: exec
Accepted Answer: 	26.79%
Non-Accepted Answer: 	28.55%
GH: 			35.09%
non-GH: 		27.88%

Col: exec2
Accepted Answer: 	24.63%
Non-Accepted Answer: 	26.45%
GH: 			33.28%
non-GH: 		25.76%

Col: exec3
Accepted Answer: 	22.23%
Non-Accepted Answer: 	23.22%
GH: 			29.14%
non-GH: 		22.84%